<section id="showcase" class="showcase">
    <div class="max-wrapper">
        <div class="showcase-flex">
            <%- include('textIntro') %>
            <button class="btn showcase__btn">Try It</button>
        </div>
    </div>
</section>