<div class="showcase-text-wrapper">
    <div class="showcase__text">
        <div class="showcase__content">
            <p>WE FINNA BLAST OFF!!!</p>
            <p>Buckle up</p>
            <br>
            <p class="showcase__paragraph">Welcome to the Space X Informational application. We will be yeeting ourselves outta here in just a moment. Please take a moment to grab some food and beverages, grab a magazine learn about Space X before commence the countdown. This trip was brought to you by 100SpaceDevs!! Enjoy the trip!!!</p>    
        </div>
    </div>
</div>