@import "./theme.css";

.btn {
  border: none;
  color: var(--greyTxt-color);
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  background-color: var(--bg-color);
  border-radius: 7px;
  border: 2px solid var(--thirdBg-color);
  margin: 1.2rem 0;
  transition: all 400ms ease;
}

.btn-logout {
}

.acc-btn {
  color: var(--text-hover-1);
  padding: 0.55rem 1.2rem;
  background-color: var(--bg-color);
  border-radius: 7px;
  border: 2px solid var(--thirdBg-color);
  margin: 1.2rem 0;
  transition: all 400ms ease;
}

.acc-btn:hover {
  background-color: var(--secondBg-color);
  color: var(--text-color);
  border-color: var(--text-color);
}

.flex-1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px);
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.form-logo-wrapper {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}

.form__logo {
  position: relative;
  color: var(--greyTxt-color);
  transition: all 400ms ease;
}

.form__logo:hover {
  color: var(--text-color);
}

.form__link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form__heading {
  font-family: var(--head-fnt);
  color: var(--text-color);
  font-weight: var(--fnt-weight-2);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.form__desc {
  font-size: var(--reg-size);
  color: var(--invTxt-color);
  padding: 1rem 0;
}

.form__desc > a {
  display: inline-block;
  font-size: var(--reg-size);
  cursor: pointer;
  transition: all 400ms ease;
}

.form__desc > a:hover {
  color: var(--text-color);
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.acc-input {
  width: 100%;
  height: 40px;
  font-size: var(--reg-size);
  border: 2px solid var(--thirdBg-color);
  border-radius: 7px;
  background-color: var(--secondBg-color);
  padding: 0 0.5rem;
  transition: all 400ms ease;
}

.acc-input__label {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 10px;
  pointer-events: none;
  color: var(--bg-color);
  font-size: var(--caption);
  font-family: var(--head-fnt);
  font-weight: var(--fnt-weight-2);
  background-color: var(--secondBg-color);
  padding: 0 0.4rem;
  transition: all 400ms ease;
}

.acc-input--value {
  color: var(--text-color);
  border-color: var(--text-color);
}

.acc-input__label--value {
  top: -21px;
  background-color: var(--secondBg-color);
  color: var(--text-color);
  transition: all 400ms ease;
}

.acc-input:focus {
  background-color: rgba(17, 21, 28, 0.3);
  color: var(--text-color);
}

.acc-input:focus ~ .acc-input__label {
  top: -21px;
  background-color: var(--secondBg-color);
  color: var(--text-color);
  transition: all 400ms ease;
}

@media screen and (min-width: 0px) {
  .max-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .form-container {
    width: 100%;
    background-color: var(--secondBg-color);
    min-height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .form-container {
    border-radius: 15px;
    border: 1px solid var(--border-color);
    width: 450px;
    min-height: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .max-wrapper {
    max-width: var(--laptopSM);
    margin: 0 auto;
  }
}

@media screen and (min-width: 1366px) {
  .max-wrapper {
    max-width: var(--desktopSM);
  }
}
