* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-size: var(--reg-size);
  font-family: var(--main-fnt);
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
}
